/* Common Styles */
.invisible {
    opacity: 0;
}
/* Top Sales */
.top-sales {
    min-height: 300px;
}
/* Preloader */
.preloader {
    margin: 10px auto;
    position: relative;
    width: 30px;
    height: 30px;
}
.preloader span {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite;
}
.preloader :first-child {
    background: #19A68C;
    animation-delay: -1.5s;
}
.preloader :nth-child(2) {
    background: #ff748b;
    animation-delay: -1s;
}
.preloader :nth-child(3) {
    background: #ffb676;
    animation-delay: -0.5s;
}
.preloader :last-child {
    background: #727e86;
}
@keyframes spin {
    0%,
    100% {
        transform: translate(0);
    }
    25% {
        transform: translate(160%);
    }
    50% {
        transform: translate(160%, 160%);
    }
    75% {
        transform: translate(0, 160%);
    }
}
/* Banner */
.banner {

    position: relative;
}

.banner-header {
    position: absolute;
    z-index: 5;
    right: 0;
    top: 42px;
    height: 98px;
    width: 487px;
    font-weight: bold;
    font-size: 48px;
    line-height: 98px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(270deg, rgba(161, 179, 191, 0.8) 72.59%, rgba(161, 179, 191, 0) 98.05%);
}
/* Catalog */
.catalog {
    min-height: 600px;
}

.catalog-categories {
    font-size: 1.3rem;
    margin-bottom: 2em;
}
.catalog-categories>.nav-item{
    cursor: pointer;
}
.catalog-item-card {
    margin-bottom: 1em;
}

.catalog-item-size {
    display: inline-block;
    padding: 0 10px;
}

.catalog-item-size.selected {
    background: #727e86;
    border-radius: 15px;
    color: #fff;
}

.catalog-search-form {
    display: block;
    width: 100%;
    height: 38px;
    padding: 0 20px;
    background: #FFFFFF;
    box-shadow: 0 0 10px #D4E4E6;
    border-radius: 50px;
    margin-bottom: 2em;
}
.catalog-search-form .form-control {
    width: 100%;
    height: 100%;
    color: #333333;
    border: none;
    outline: none;
    box-shadow: none;
}
